<!-- 
  Author: Saurabh Sonawane
  Date: 17-04-2020
 -->
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook-square fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-github-square fa-2x"></i>
          </a>
        </li>
         <li>
          <a href="#">
            <i class="fab fa-twitter-square fa-2x"></i>
          </a>
        </li> <li>
          <a href="https://www.linkedin.com/in/saurabh-sonawane-0000a2146/"target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </li>

        <!-- TODO: ADD the links for Social Media -->
        <!-- Classes Required: "fab fa-twitter-square fa-2x", "fab fa-linkedin fa-2x" -->
        
      </ul>
    </nav>

    
    <div class="copyright">
      {{test | date:'yyyy'}}
      &copy;
      Copyright By,
      <a href="https://www.linkedin.com/in/saurabh-sonawane-0000a2146/"target="_blank">
       Saurabh Sonawane.
      </a>
    </div>
  </div>
</footer>
